//- footer.footer 
//-   .flex-wrap
//-     .flex-wrap__col 
//-       p © Alay Express 2023. Все права защищены.


//-     .flex-wrap__col
//-       .flex-wrap__links
//-         ul 
//-           li 
//-             a(href="#") Запрещенные товары
//-           li 
//-             a(href="#") Политика конфиденциальности
//-           li 
//-             a(href="#") Условия и положения


