.search
  label(for="search") 
    svg(xmlns="http://www.w3.org/2000/svg", width="26", height="26", viewBox="0 0 26 26", fill="none")
      circle(cx="10.8333", cy="10.8333", r="7.58333", stroke="#3D3D39", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
      circle(cx="10.8333", cy="10.8333", r="7.58333", stroke="white", stroke-opacity="0.2", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
      path(d="M22.75 22.75L16.25 16.25", stroke="#3D3D39", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
      path(d="M22.75 22.75L16.25 16.25", stroke="white", stroke-opacity="0.2", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

  input(type="text" id="search" placeholder="Введите название магазина или категории товаров например:”Одежда”, “Обувь” ")

  .profile-controls 
    .profile-controls__item
      a(href="#").profile-controls__notification 
        svg(xmlns="http://www.w3.org/2000/svg", width="26", height="27", viewBox="0 0 26 27", fill="none")
          path(d="M10.832 5.91667C10.832 4.72005 11.8021 3.75 12.9987 3.75C14.1953 3.75 15.1654 4.72005 15.1654 5.91667C17.7005 7.11543 19.3672 9.61543 19.4987 12.4167V15.6667C19.664 17.0325 20.4682 18.2387 21.6654 18.9167H4.33203C5.52924 18.2387 6.33337 17.0325 6.4987 15.6667V12.4167C6.63018 9.61543 8.29685 7.11543 10.832 5.91667", stroke="#3D3D39", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
          path(d="M10.832 5.91667C10.832 4.72005 11.8021 3.75 12.9987 3.75C14.1953 3.75 15.1654 4.72005 15.1654 5.91667C17.7005 7.11543 19.3672 9.61543 19.4987 12.4167V15.6667C19.664 17.0325 20.4682 18.2387 21.6654 18.9167H4.33203C5.52924 18.2387 6.33337 17.0325 6.4987 15.6667V12.4167C6.63018 9.61543 8.29685 7.11543 10.832 5.91667", stroke="white", stroke-opacity="0.2", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
          path(d="M9.75 18.916V19.9993C9.75 21.7943 11.2051 23.2493 13 23.2493C14.7949 23.2493 16.25 21.7943 16.25 19.9993V18.916", stroke="#3D3D39", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
          path(d="M9.75 18.916V19.9993C9.75 21.7943 11.2051 23.2493 13 23.2493C14.7949 23.2493 16.25 21.7943 16.25 19.9993V18.916", stroke="white", stroke-opacity="0.2", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

        span 4

    .profile-controls__item 
      a(href="#").profile-controls__profile-element
        .profile-controls__profile-avatar
          img(src="images/dist/avatar.webp", alt="") 
