.sidebar
  .sidebar__logo
    img(src="images/dist/logo.svg", alt="")
  
  .sidebar__section
    .sidebar__section-title ПОСЫЛКИ

    ul 
      li.active
        a(href="#") Добавить посылку
      li
        a(href="#") Список посылок
      li
        a(href="#") Адреса за границей
      li
        a(href="#") Калькулятор
      
  .sidebar__section
    .sidebar__section-title Сервисы

    ul 
      li.active
        a(href="#") Ассистент
      li
        a(href="#") Каталог магазинов

  .sidebar__section
    .sidebar__section-title ДРУГИЕ

    ul 
      li.active
        a(href="#") Вопросы и ответы